.popup_control_checkbox:checked+.popup__container {

  .popup__announcement__container{
    .popup__announcement{
      @extend .animated ;
      @extend .fadeInDown ;
    }

  }
}

.popup__announcement__container{

  .popup__announcement {
    width: 98%;

    background-color: $announcement__container_bg;
    
    // X exit icon
    .exit_icon {
      cursor: pointer;
      position: absolute;
      top: 4px;
      left: 18px;

      width: 18px;
      height: 18px;
      background-size: 18px 18px;
    }

    .message{
      color: $announcement__container_text;
    }
    .button{
      background-color: $announcement__button_bg;
      color: $announcement__button_text ;

      &:hover{
        @include multi_browser(animation-duration, 1s);
        @include multi_browser(animation-name, shakeSideBySide);
      }
    }
  
  }

}

@include keyframes("shakeSideBySide"){
  0%{
    @include multi_browser("transform", "translateX(0px)");
  }
  20%,60% {
    @include multi_browser("transform", "translateX(8px)");
  }
  40%,80%{
    @include multi_browser("transform", "translateX(-8px)");
  }
  100% {
    @include multi_browser("transform", "translateX(0px)");

  }
}