.email_subscription_container{
  @extend %popup_container_centerer;

  .email_popup{
    background-color: #EBEAF2;
    border-radius: .5rem;    
    pointer-events: all ;//Important
    max-width: 90%;
    max-height: 95%;

    overflow-y: scroll;

    @include screen_sm{
      overflow-y: scroll;

    }
    @include screen_md{
      overflow-y: unset;

    }
    @include screen_lg{
      overflow-y: unset;

    }
    @include screen_xl{
      overflow-y: unset;

    }
      
    .slide_in_container{
       
      max-width: 100%;

      height: auto;
      width: 100%;
      
      @include screen_sm{
        max-width: 100%;
        height: auto;
        width: 100%;
      }
      @include screen_md {        
        max-width: 100%;
        height: auto;
        width: 400px;
      }
      @include screen_lg {
        max-width: 512px;
        max-height: 512px;
        height: auto;
        width: 450px;
      }
      @include screen_xl {
        max-width: 512px;
        max-height: 512px;
        height: auto;
        width: 450px;
        
      }
      
      .image_slide{   
        object-fit: contain;    
        // margin: .5rem;

      }
          
    }
    .main_content{
      // height: 400px;
      // min-width: 300px;

      // @include screen_sm{
      //   min-width: 300px;
      // }
      // @include screen_md {        
      //   min-width: 400px;

      // }
      // @include screen_lg {
      //   min-width: 400px;

      // }
      // @include screen_xl {
      //   min-width: 400px;
      // }


      .email__input{
        // max-width: 200px;
        height: 40px;
      }


      .title{
        margin-top: 40px;
        word-wrap: break-word;
        font-family: 'Bungee Shade', cursive;
      }


    }

  }


}