@include popup_event_wrapper() {
  .lead_capture__container {
    .lead_capture__popup {
      
      @extend .animated ;
      @extend .zoomIn ;
      animation-duration: 1.5s;

    }
  }

}

.lead_capture__container{
  @extend %popup_container_centerer;
  
  .lead_capture__popup{
    @extend %popup_element_centered;
    
    max-width: 95%;
    @include screen_sm() {
      max-width: 95%;
    }
    @include screen_md(){
      max-width: 65%;
    }
    @include screen_lg() {
      max-width: 50%;
    }
    .exit_icon {
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
    }
    .lead_image_container{
      height: 50%;
      min-height: 200px;
    }
    .email_input{
      min-width: 10px;
    }
  
  }
}