@include popup_event_wrapper() {
  .form__container {
    .popup__login_form {
      @extend .animated;
      @extend .zoomIn;
    }  
  }
}

.form__container{
  @extend %popup_container_centerer;
  

  .popup__login_form {
    max-width: 90%;
    color: $login_form__container_text;
    position: relative;
    pointer-events: all; //Important
    padding: 4.5rem;

    border-radius: 50%;
    background: $login_form__container_bg;

    transform: scale(1.2);
    
    .exit_icon.form_exit_icon {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .form_head {
      // So it can't select the text
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;

    }

    .checkbox__remember_user{
      size: .8rem;
    }
    .label__remember_user {
      font-size: .8rem;
      color: lighten($login_form__container_text, 10%);
      &:hover{
        color: $login_form__container_text;
      }
    }
  
    .forgotten__password{
      @extend .label__remember_user;
      margin-top: 5px;
    }
  
    .login_button{
      background-color: $login_form__button_bg;
      color: $login_form__button_text;
  
      transition: .5s transform;
  
      &:hover{
        transform: translateY(10px);
      }
    }
  }

}
