.popup_control_checkbox:checked+.popup__container {  
  .promotion_container {
    .promotion_popup {
      @extend .animated ;
      @extend .fadeInLeft ;
      @extend .slow ;

    }

  }
}


.promotion_container{
  
  .promotion_popup{
    // only in small sizes
    max-width: 95%;
    @include screen_md() {
      max-width: 28rem;
    }

    .exit_icon {
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
    }
  }


}