.popup_control_checkbox:checked+.popup__container {  
  .promotion_container {
    .promotion_popup {
      @extend .animated ;
      @extend .fadeInLeft ;
    }

  }
}


.promotion_container{
  // @extend %popup_container_centerer;
  
  .promotion_popup{
    position: fixed;
    left: 0;

    margin: 5px;
  
  }


}