{% extends "chunks/popups_component.html" %}

{% block popup_content %}
  {{ super() }}   
  
  <div container_announcement>   


    <div announcement>
      {% if popup.close_behaviour == "shade_exit_icon" or popup.close_behaviour == "exit_icon"  %}
        <label for="{{popup.id}}">
          <i exit_icon > </i>
        </label>            
      {% endif %}
      
      <div message>
        {{popup.message}}
      </div>
      <label bnt_announcement for="{{popup.id}}" onclick=" ">
          {{popup.submit_button_text}}
      </label>    
    </div>
  </div>    

{% endblock popup_content %}

