{% extends "chunks/popups_component.html" %}

{% block popup_content %}
  {{ super() }}   
  
  <div email_subscription_container >

    <div popup_email_subscription >
      
      {% if popup.close_behaviour == "shade_exit_icon" or popup.close_behaviour == "exit_icon"  %}
        <label exit_icon for="{{popup.id}}">
        </label>            
      {% endif %}
      <div slide_in_container>
        <img image_slide_in src="{{popup.image_url}}" alt="image">

      </div>

      <div main_content>
        <div head_subs >
          <h1 title>

            {{popup.title}}
          </h1>
          <h2 sub_title>
            {{popup.subtitle}}
          </h2>
        </div>


        <form email_subcription action="">
          <input email type="email" name="email" id="email_subscription_{{popup.id}}" placeholder="Email">
          <div confirmation_container>
            <button submit_button>
              {{popup.submit_button_text}}
            </button>
        
            <label not_interested for="{{popup.id}}">
              {{popup.cancel_message}}
            </label>

          </div>

          
        </form>



      </div>

    </div>


  </div>
  
{% endblock popup_content %}
