{% extends "chunks/popups_component.html" %}

{% block popup_content %}
  {{ super() }}   
  
  <div form_container >
      
    <div login_form  >

      <label for="{{popup.id}}">
        <i exit_icon > </i>
        {% if popup.shade == "light" %}
          <i exit_icon_dark  > </i>
        {% elif popup.shade == "dark" %}
          <i exit_icon_light > </i>
        {% else %}
          <i exit_icon_grey > </i>
        
        {% endif %}    
      </label>

      <div head>
        <h1 title>
          {{popup.title}}        
        </h1>
        <h2 sub_title>
          {{popup.subtitle}}        
        </h2>
      </div>
        
      <!-- <form input_form > -->
      <form input_form method="POST">
        <input username_user type="text" name="username" id="" placeholder="Email or Username">
        
        <input password_user type="password" name="password" placeholder="Password" id="">
        <div data_remember >
          <input check_remember type="checkbox" name="remember_me" id="{{popup.id}}_remember_me">
    
          <label remember_user for="{{popup.id}}_remember_me">
            Remember me
          </label>
        </div>

        <!-- <button type="submit"> -->
        <button login_button type="submit" > 
          {{popup.submit_button_text}}
        </button>
      </form>

      <a forgotten_data href="">
        Forgot your password ? 
      </a>
      
      
    </div>
    
  </div>
  
{% endblock popup_content %}
