{% extends "chunks/popups_component.html" %}

{% block popup_content %}
  {{ super() }}
  <div promotion_container >

    <div promotion_popup >
      {% if popup.close_behaviour == "shade_exit_icon" or popup.close_behaviour == "exit_icon"  %}
        <label exit_icon for="{{popup.id}}">
        </label>
      {% endif %}
      <img detail_image src="{{popup.image_url}}" alt="{{popup.title}}_image">
      <h1 title>
        {{popup.title}}

      </h1>
      <h2 subtitle>
        {{popup.subtitle}}

      </h2>
      <p main_message>
        {{popup.message}}

      </p>
      <form action="">
        <input email_input placeholder="Email..." type="text">
        <button submit_button type="submit"> {{popup.submit_button_text}}</button>

      </form>
    </div>

  </div>

{% endblock popup_content %}
