{% extends "chunks/popups_component.html" %}

{% block popup_content %}
  {{ super() }}
  <div promotion_container >

    <div promotion_popup >
      {% if popup.close_behaviour == "shade_exit_icon" or popup.close_behaviour == "exit_icon"  %}
        HEy
        <label exit_icon for="{{popup.id}}">
        </label>
      {% endif %}
      <p>
        {{popup.title}}
      </p>
      <p>
        {{popup.subtitle}}
      </p>
      <p>
        {{popup.message}}
        
      </p>
    </div>

  </div>

{% endblock popup_content %}
