<!-- input for event control -->
<input control_checkbox type="checkbox" id="{{popup_id}}" >

<!-- Main container of the popup -->
<div popup_container id="{{popup_id}}_popup">
  
  <!--  the idea is to add conditional wheter to darken or lighten the page when the popup is active -->
  <div popup_shadow popup_light >
    <!-- Eventually this will have a nested conditional so the type of component is 
      a variables instead of having to include know the name of the chunk of the popup
    -->
    {% if popup_type == "announcement" %}
      {% include  "chunks/popups_announcement.html" %}
    {% endif %}



  </div>
  
</div>