{# popup parent template #}
<!-- Custom Stylesheets  -->

{# Include of the button that once click it will open the popup #}
{# this button can be customized with the popup model #}

{% include "chunks/popups_button.html" %}

<!-- input for event control -->
<input control_checkbox type="checkbox" id="{{popup.id}}" >

<!-- Main container of the popup -->
<div popup_container id="{{popup.id}}_popup" popup_id="{{popup.id}}" >
  {# Conditional to add the behavior that the popup closes once you click outside of the popup #}

  {% if popup.close_behaviour == "shade" or popup.close_behaviour == "shade_exit_icon" %}
    {# Conditional to add the correct type of shade color #}
    {% if popup.shade == "light" %}
      <label shade_light for="{{popup.id}}"></label>
      
    {% elif popup.shade == "dark" %}
      <label shade_dark for="{{popup.id}}"></label>
      
    {% elif popup.shade == "custom" %}
      <label shade_custom for="{{popup.id}}"></label>

    {% else %}
      <label shade_transparent for="{{popup.id}}"></label>
    
    {% endif %}    
  {% elif popup.close_behaviour == "exit_icon" %}
    {# Shade color if the popup wont close once you click outside of it #}
    {% if popup.shade == "light" %}
      <div shade_light for="{{popup.id}}"></div>
      
    {% elif popup.shade == "dark" %}
      <div shade_dark for="{{popup.id}}"></div>
      
    {% elif popup.shade == "custom" %}
      <div shade_custom for="{{popup.id}}"></div>

    {% else %}
      <div shade_transparent for="{{popup.id}}"></div>
    
    {% endif %} 

  {% endif %}
  
  {# Popup block content so other popups inherit from this template #}
  
  {% block popup_content %}

  {% endblock popup_content %}
  
</div>