{% extends "chunks/popups_component.html" %}

{% block popup_content %}
  {{ super() }}
  <div lead_container>
    <div popup_box>
      <div main_container>

        {% if popup.close_behaviour == "shade_exit_icon" or popup.close_behaviour == "exit_icon"  %}
          <label exit_icon for="{{popup.id}}">
          </label>
        {% endif %}
        
        <div title_container>
          <h1 title_popup>
            {{popup.title}}
          </h1>
        </div>

        <div image_container>
          <img lead_image src="{{popup.image_url}}" alt="{{popup.title}}">

        </div>
        <div bottom_container>
          
          <h2 subtitle>
            {{popup.subtitle}}
          </h2>
          <p message>
            {{popup.message}}
          </p>
          <form lead_form action="">
            <input email_field type="text" placeholder="Your Email"> 
            <button submit_button>
              {{popup.submit_button_text}}
            </button>
          </form>


        </div>

      </div>


    </div>

  </div>

{% endblock popup_content %}