{% include "chunks/popups_button.html" %}

<!-- input for event control -->
<input control_checkbox type="checkbox" id="{{popup.id}}" >

<!-- Main container of the popup -->
<div popup_container id="{{popup.id}}_popup">
  
  <!--  the idea is to add conditional wheter to darken or lighten the page when the popup is active -->
  {% if popup.shade == "light" %}
    <label popup_light for="{{popup.id}}"></label>
    
  {% elif popup.shade == "dark" %}
    <label popup_shadow for="{{popup.id}}"></label>
    
  {% elif popup.shade == "custom" %}
    <label popup_custom for="{{popup.id}}"></label>

  {% else %}
    <label popup_transparent for="{{popup.id}}"></label>
  
  {% endif %}    
        
  <!-- Eventually this will have a nested conditional so the type of component is 
    a variables instead of having to include know the name of the chunk of the popup
  -->
  {% block popup_content %}


  {% endblock popup_content %}
  
</div>