{% extends "chunks/popups_component.html" %}

{% block popup_content %}
  {{ super() }}
  <div lead_container>
    <div popup_box>
      <div border_container>

        {% if popup.close_behaviour == "shade_exit_icon" or popup.close_behaviour == "exit_icon"  %}
          <label exit_icon for="{{popup.id}}">
          </label>
        {% endif %}

        <h1>
          {{popup.title}}
        </h1>
        <div image_container>
          <img lead_image src="{{popup.image_url}}" alt="{{popup.title}}">

        </div>
        <h2>
          {{popup.subtitle}}
        </h2>
        <p>
          {{popup.message}}
        </p>
  
        <input type="text"> 
        <button>
          {{popup.submit_button_text}}
        </button>

      </div>


    </div>

  </div>

{% endblock popup_content %}