@mixin keyframes($name) {
  @-webkit-keyframes #{unquote($name)} {
    @content;
  }

  @-moz-keyframes #{unquote($name)} {
    @content;

  }

  @-ms-keyframes #{unquote($name)} {
    @content;

  }

  @-o-keyframes #{unquote($name)} {
    @content;

  }

  @keyframes #{unquote($name)} {
    @content;

  }
}

@mixin multi_browser($name, $value) {
  -webkit-#{unquote($name)}: unquote($value);
  -moz-#{unquote($name)}: unquote($value);
  -ms-#{unquote($name)}: unquote($value);
  -o-#{unquote($name)}: unquote($value);
  #{unquote($name)}: unquote($value);
}


@mixin screen_sm() {
  @media (min-width: 640px) {
    @content;    
  }  
}

@mixin screen_md() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin screen_lg() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin screen_xl() {
  @media (min-width: 1280px) {
    @content;
  }
}


@mixin seamless_scroll($color) {       
  //Scrollbar options
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 15px;

  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($color, 0.55);
    border-radius: 10px;

  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color, 0.85);

  }  
  
}

@mixin exit_icon_size($value) {
  width: $value;
  height: $value;
  background-size: $value $value;
}