%popup_container_centerer{
  @extend .popup__box ;
  top: 0;
  pointer-events: none; //important
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}
%popup_element_centered{
  pointer-events: all;
}

%popup_generic{
  position: fixed;
}

.bg-yellow-bright{
  background-color: #FEDE00;
}
.text-red-bright{
  color: #DD0200;
}

.seamless_scrollbar{
  &.gray_bar{
    @include seamless_scroll(#adadad);
  }
  &.black_bar {
    @include seamless_scroll(#000000);
  }
}

.bg_slow_change{
  transition: background-color .4s;
}

.slow_transition{
  transition: .4s;
}

.object_cover{
  object-fit: cover;
}

.object_contain {
  object-fit: contain;
}
.object-fill{
  object-fit: fill;
}

.responsive-h{
  height: 100%;
  width: auto;
}

.responsive-w{
  height: auto;
  width: 100%;
}

.img_fluid{
  max-width: 100%;
  height: auto;
}

.thick_shadow{
  box-shadow: 0 0 45px rgba(32, 32, 32, 0.7);
}

.cover__image{
  object-fit: cover;
  height: 100%;
  width: 100%;
}