%popup_container_centerer{
  @extend .popup__box ;
  top: 0;
  pointer-events: none; //important
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}
%popup_element_centered{
  pointer-events: all;
}

%popup_generic{
  position: fixed;
}

.bg-yellow-bright{
  background-color: #FEDE00;
}
.text-red-bright{
  color: #DD0200;
}

.seamless_scrollbar{
  &.gray_bar{
    @include seamless_scroll(#adadad);
  }
  &.black_bar {
    @include seamless_scroll(#000000);
  }
}

.bg_slow_change{
  transition: background-color .4s;
}