{% extends "layouts/base.html" %}


{% block content %}
  {{ super() }}     
    
  <!-- call to the slider -->
  
  {% include "chunks/slides.html" %}
  

  <!-- Pop up example -->
  <h2>
    I am some sample examples
  </h2>
  
  {% set popup_type = popups.popup_type %}
  {% set popup_announcement = popups.announcement %}
  {% set shade = "light" %}

  {% set popup_id = popups.id %}

  <label for="{{popup_id}}" class="bg-blue" >SHOW MY POPUP</label>
  {% include "chunks/popups_component.html" %}

  {% set popup_type = popups.popup_type %}
  {% set popup_announcement = popups.announcement_alt %}
  {% set shade = "dark" %}

  {% set popup_id = popups.id_alt %}

  <label for="{{popup_id}}" class="bg-red" >Completly different popup</label>
  {% include "chunks/popups_component.html" %}

  {% set popup_announcement = popups.announcement_alt2 %}

  {% set shade = "none" %}
  {% set popup_id = "somanyids" %}

  <label for="{{popup_id}}" class="bg-green"> yet another  popup</label>
  {% include "chunks/popups_component.html" %}

{% endblock content %}