.popup_control_checkbox:checked+.popup__container {
  .popup__announcement{
    @extend .animated;
    @extend .fadeInDown;
  }
}

.popup__announcement {
  position: fixed;

  .message{
    margin-left: 80px;
    margin-right: 40px;
  }

  .button{
    margin-left: 40px;
    margin-right: 40px;
  }
}