.popup_control_checkbox:checked+.popup__container {
  .popup__announcement__container{
    .popup__announcement{
      @extend .animated;
      @extend .fadeInDown;
    }

  }
}

.popup__announcement__container{

  .popup__announcement {
    position: fixed;
    top: 0;
    width: 98%;

    background-color: $announcement__container_bg;

    .message{
      color: $announcement__container_text;
    }
    .button{
      background-color: $announcement__button_bg;
      color: $announcement__button_text;
    }
  
  }

}