.form__container{
  top: 0;
  pointer-events: none;

  .popup__login_form {
    color: #000;  
    background-color: #feed3e;
    pointer-events: all;
    padding: 4rem;
  }
  .checkbox__remember_user{
    size: .8rem;
  }
  .label__remember_user {
    font-size: .8rem;
    color: #222;
    &:hover{
      color: #000000;
    }

  }

}
