.form__container{
  top: 0;
  pointer-events: none;

  .form_head{
    // So it can't select the text
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

  }

  .popup__login_form {
    max-width: 90%;
    color: $login_form__container_text;
    position: relative;
    pointer-events: all;
    padding: 3.5rem;

    border-radius: 50%;
    background: $login_form__container_bg;

    // &::after{
    //   content: "";
    //   z-index: -1;
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //   display: block;
    //   width: 100%;
    //   padding-bottom: 100%;
    //   height:0;
    //   background: $login_form__container_bg;      
    //   -moz-border-radius: 50%;
    //   -webkit-border-radius: 50%;
    //   border-radius: 50%;
    // }

    &.fix_oval{
      &::after {
        top: -10%;
      }
    }

  }
  .checkbox__remember_user{
    size: .8rem;
  }
  .label__remember_user {
    font-size: .8rem;
    color: lighten($login_form__container_text, 10%);
    &:hover{
      color: $login_form__container_text;
    }
  }

  .forgotten__password{
    @extend .label__remember_user;
    margin-top: 5px;
  }

  .login_button{
    background-color: $login_form__button_bg;
    color: $login_form__button_text;

    transition: .5s transform;

    &:hover{
      transform: translateY(10px);
    }
  }

}
