
.popup_control_checkbox:checked + .popup__container{
  display: flex; 
  justify-content: center;
  align-items: center;
  visibility: visible;
}


.popup__container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  visibility: hidden;
  overflow: hidden;

  .popup__shade.shadow{
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup__shade.light {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .popup__shade.colorless {
    background-color: transparent;
  }

  .popup__shade {
    z-index: $filler_z_index;
    transition: all 1s;
    position: absolute;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::-webkit-scrollbar {
      display: none;
    }

  }

  .popup__box {
    z-index: $popup_z_index;
  }

}
